body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background: #222;
  padding: 15px;
  display: flex;
  gap: 20px;
}

.link {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.link.active {
  border-bottom: 2px solid yellow;
}
